<p></p>
<div class="col-md-10 offset-1">
  <div class="col-md-12">
    <div class="box p-3 mb-5 rounded"> 
      <h5 class="card-subtitle">Name:</h5>
      <p class="card-text">{{ingredient.name}}</p>  
          
      <h5 class="card-subtitle">Id:</h5>
      <p class="card-text">{{ingredient.id}}</p>
  
    </div>
    <button type="button" class="btn btn-secondary col-md-2" (click)="onModify()">Modify Ingredient</button>
    <p></p>
  <button type="button" class="btn btn-danger col-md-2"  (click)="onDelete()">Delete ingredient</button>
  <p></p>
  </div>
</div>
