<p></p>
<div class="card col-md-10 offset-1">
  <div class="card-body">
    <h5 class="card-title">Elvio Lao</h5>
    
    <h5 class="card-subtitle">Id:</h5>
    <p class="card-text">2</p>
    
    <h5 class="card-subtitle">Puntuació:</h5>
    <p class="card-text">5/5</p>

    <h5 class="card-subtitle">DNI:</h5>
    <p class="card-text">34245323P</p>

    <h5 class="card-subtitle">Phone number:</h5>
    <p class="card-text">632432431</p>
  </div>
  <button type="button" class="btn btn-danger col-md-2">Delete nutritionist</button>
</div>