<div class='col-md-10 offset-1'>
  <div class="row">
    <h3 class="col-md-12">Nutritionists</h3>
    <div class="col-md-12">
        <form class="form-search-nutritionists" (submit)="search(nutritionist)">
            <label for="nutritionist" class="sr-only">Nutritionist name</label>
            <input type="text" id="nutritionist" class="form-control" placeholder="Nutritionist name" required #nutritionist>
            <p></p>
            <button class="btn btn-lg btn-success" type="submit">Filter</button>
        </form>
    </div>
  </div>


<div class="row p-3">
  <div class="card col-md-12">
    <div class="card-body">
      <h5 class="card-title">Ismael Hadowi</h5>
      
      <h5 class="card-subtitle">Id:</h5>
      <p class="card-text">1</p>

      <h5 class="card-subtitle">Nutritionist type:</h5>
      <p class="card-text">Sport nutritionist</p>
      
      <h5 class="card-subtitle">Puntuació:</h5>
      <p class="card-text">4.5/5</p>
    </div>
  </div>
  <div class="card col-md-12">
    <div class="card-body">
      <h5 class="card-title">Elvio Lao</h5>
      
      <h5 class="card-subtitle">Id:</h5>
      <p class="card-text">2</p>

      <h5 class="card-subtitle">Nutritionist type:</h5>
      <p class="card-text">Normal nutritionist</p>
      
      <h5 class="card-subtitle">Puntuació:</h5>
      <p class="card-text">5/5</p>
    </div>
  </div>
</div>