<div class='col-md-10 offset-1'>
  <div class="row">
    <h3 class="col-md-12">Nutritionist</h3>
    <div class="col-md-12">
        <form class="form-search-nutritionist" [formGroup]="searchNutritionistForm" (submit)="search()">
            <label for="nutritionist" class="sr-only">Nutritionist name</label>
            <input type="text" id="nutritionist" class="form-control" placeholder="Nutritionist name" required #nutritionist [formControl]="searchNutritionistForm.controls['name']" >
            <p></p>
            <button class="btn btn-lg btn-secondary" type="submit">Filter</button>
        </form>
    </div>
  </div>

<p></p>
<div class="row">
  <div class="col-md-12" *ngFor="let nutritionist of nutritionists">
    <div class="box p-3 mb-5 rounded" routerLink="/nutritionist/{{nutritionist.id}}">
      <h5 class="card-subtitle">Username:</h5>
      <p class="card-text">{{nutritionist.username}}</p>
      
      <h5 class="card-subtitle">Id:</h5>
      <p class="card-text">{{nutritionist.id}}</p>
    
      <h5 class="card-subtitle">Average puntuation:</h5>
      <p class="card-text">{{nutritionist.averagePuntuation}}</p>

      <p class="font-italic click">click to see details</p>
    </div>
  </div>
</div>