<p></p>
<div class="col-md-10 offset-1">
  <form class="form-search-recipe" [formGroup]="nutritionistForm" (submit)="addNutritionist(nutritionist)">
    <label for="nutritionist" class="sr-only">Nutritionist Name</label>
    <input type="text" id="nutritionist" class="form-control" placeholder="Nutritionist name" required #nutritionist>
    <label for="speciality" class="sr-only">Speciality</label>
    <input type="text" id="nutritionist" class="form-control" placeholder="For example, sports" required #nutritionist>
    <label for="dni" class="sr-only">DNI</label>
    <input type="text" id="nutritionist" class="form-control" placeholder="32423443Q" required #nutritionist>
    <label for="number" class="sr-only">Phone number</label>
    <input type="text" id="nutritionist" class="form-control" placeholder="623234523" required #nutritionist>
    <p></p>
    <button class="btn btn-lg btn-success" type="submit">Create nutritionist</button>
  </form>
</div>