<div class='col-md-10 offset-1'>
  <button class="btn btn-lg btn-info" routerLink="/recipe-add">Add recipes</button>
  <button class="btn btn-lg btn-info" routerLink="/nutritionists">Nutritionists</button>
  <div class="row">
    <h3 class="col-md-12">Recipes</h3>
    <div class="col-md-12">
        <form class="form-search-recipe" [formGroup]="searchRecipeForm" (submit)="search(recipe)">
            <label for="recipe" class="sr-only">Recipe name</label>
            <input type="text" id="recipe" class="form-control" placeholder="Recipe name" required #recipe>
            <p></p>
            <button class="btn btn-lg btn-success" type="submit">Filter</button>
        </form>
    </div>
  </div>


<div class="row p-3">
  <div routerLink="/recipe-detail" class="card col-md-12">
    <div class="card-body">
      <h5 class="card-title">Truita de patates:</h5>
      
      <h5 class="card-subtitle">Id:</h5>
      <p class="card-text">1</p>
      
      <h5 class="card-subtitle">Puntuació:</h5>
      <p class="card-text">4.5/5</p>
      <p class="font-italic">click to see details</p>
    </div>
  </div>
  <div routerLink="/recipe-detail" class="card col-md-12">
    <div class="card-body">
      <h5 class="card-title">Pizza de NO piña:</h5>
      
      <h5 class="card-subtitle">Id:</h5>
      <p class="card-text">2</p>
      
      <h5 class="card-subtitle">Puntuació:</h5>
      <p class="card-text">5/5</p>
      <p class="font-italic">click to see details</p>
    </div>
  </div>
</div>