<div class='col-md-10 offset-1'>
  <button class="btn btn-lg btn-info" routerLink="/recipe-add">Add recipes</button>
  <button class="btn btn-lg btn-info" routerLink="/nutritionists">Nutritionists</button>
  <div class="row">
    <h3 class="col-md-12">Recipes</h3>
    <div class="col-md-12">
        <form class="form-search-recipe" [formGroup]="searchRecipeForm" (submit)="search(recipe)">
            <label for="recipe" class="sr-only">Recipe name</label>
            <input type="text" id="recipe" class="form-control" placeholder="Recipe name" required #recipe>
            <p></p>
            <button class="btn btn-lg btn-success" type="submit">Filter</button>
        </form>
    </div>
  </div>


<div class="row p-3">
  <div class="card col-md-12" *ngFor="let recipe of recipes">
    <div class="card-body" routerLink="/recipe/{{recipe.id}}">
      <h5 class="card-title">Name:<a routerLink="/recipe/{{recipe.id}}">{{recipe.name}}</a></h5>
      
      <h5 class="card-subtitle">Id:</h5>
      <p class="card-text">{{recipe.id}}</p>
      
      <h5 class="card-subtitle">Ingredients:</h5>
      <p class="card-text">{{recipe.ingredients}}</p>

      <h5 class="card-subtitle">Instructions:</h5>
      <p class="card-text">{{recipe.instructions}}</p>
      
      <h5 class="card-subtitle">Url:</h5>
      <p class="card-text">{{recipe.url}}</p>

      <h5 class="card-subtitle">Puntuació:</h5>
      <p class="card-text">{{recipe.averagePuntuation}}</p>


      <p class="font-italic">click to see details</p>
    </div>
  </div>
</div>