<div class='col-md-10 offset-1'>
  <div class="row">
    <h3 class="col-md-12">Recipes</h3>
    <div class="col-md-12">
        <form class="form-search-recipe" [formGroup]="searchRecipeForm" (ngSubmit)="search()">
            <label for="recipe" class="sr-only">Recipe name</label>
            <input type="text" id="recipe" class="form-control" placeholder="Recipe name" required #recipe [formControl]="searchRecipeForm.controls['name']">
            <p></p>
            <button class="btn btn-lg btn-success" type="submit">Filter</button>
        </form>
    </div>
  </div>

<p></p>
<div class="row">
  <div class="col-md-12" *ngFor="let recipe of recipes">
    <div class="box p-3 mb-5 rounded" routerLink="/recipe/{{recipe.id}}">
      <h5 class="card-subtitle">Name:</h5>
      <p class="card-text">{{recipe.name}}</p>

      <h5 class="card-subtitle">Id:</h5>
      <p class="card-text">{{recipe.id}}</p>

      <h5 class="card-subtitle">Puntuació:</h5>
      <p class="card-text">{{recipe.averagePuntuation}}</p>


      <p class="font-italic click">click to see details</p>
    </div>
    <p></p>
  </div>
</div>