<div class='col-md-10 offset-1'>
    <div class="row">
      <h3 class="col-md-12">Ingredient</h3>
      <div class="col-md-12">
          <form class="form-search-ingredient" [formGroup]="searchIngredientForm" (submit)="search()">
              <label for="ingredient" class="sr-only">Ingredient name</label>
              <input type="text" id="ingredient" class="form-control" placeholder="Ingredient name" required #ingredient [formControl]="searchIngredientForm.controls['name']">
              <p></p>
              <button class="btn btn-lg btn-secondary" type="submit">Filter</button>
          </form>
      </div>
    </div>
  <p></p>
  <div class="row">
    <div class="col-md-12" *ngFor="let ingredient of ingredients">
      <div class="box p-3 mb-5 rounded" routerLink="/ingredient/{{ingredient.id}}">
        <h5 class="card-subtitle">Name:</h5>
        <p class="card-text">{{ingredient.name}}</p>
        
        <h5 class="card-subtitle">Id:</h5>
        <p class="card-text">{{ingredient.id}}</p>
        
        <p class="font-italic click">click to see details</p>
      </div>
      <p></p>
    </div>
  </div>