input.form-control{
    background-color: transparent !important;
    border-color: #adadad !important;
}

.btn:hover {
    color: #fff;
    background-color: #da6319 !important;
    border-color: #da6319 !important;
}

.btn.focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 188, 92, 0.877) !important;
}

.btn {
    color: #fff;
    background-color: #ff9c60 !important;
    border-color: #ff9c60 !important;
}

.multiselect-item-checkbox:checked{
    background-color: #ff9c60 !important;
}

