<div class="col-md-10 offset-1">
  <form id="recipe-form" class="form-search-recipe" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Recipe Name</label>
      <input type="text" class="form-control" id="name" [formControl]="recipeForm.controls['name']" aria-label="Recipe name"> 
    </div>
    <div class="form-group">
      <label for="instructions">Instructions</label>
      <input type="text" class="form-control" id="instructions" [formControl]="recipeForm.controls['instructions']" aria-label="Instructions"> 
    </div>
    <div class="form-group">
        <label for="proportions">Ingredients proportions</label>
        <input type="text" class="form-control" id="proportions" [formControl]="recipeForm.controls['proportions']" aria-label="Proportions"> 
    </div>
    <div class="form-group">
        <label for="calories">Calories</label>
        <input type="text" class="form-control" id="calories" [formControl]="recipeForm.controls['calories']" aria-label="Calories"> 
    </div>
    <div class="form-group">
        <label for="fat">Fat</label>
        <input type="text" class="form-control" id="fat" [formControl]="recipeForm.controls['fat']" aria-label="Fat"> 
    </div>
    <div class="form-group">
        <label for="protein">Protein</label>
        <input type="text" class="form-control" id="protein" [formControl]="recipeForm.controls['protein']" aria-label="Protein"> 
    </div>
    <div class="form-group">
        <label for="sodium">Sodium</label>
        <input type="text" class="form-control" id="sodium" [formControl]="recipeForm.controls['sodium']" aria-label="Sodium"> 
    </div>
    <div class="form-group">
        <label for="recipeIngredients">Tags</label>
        <ng-multiselect-dropdown class="" [formControl]="recipeForm.controls['recipeIngredients']"
            [placeholder]="'custom placeholder'"
            [data]="dropdownIngredients"
            [(ngModel)]="selectedIngredients"
            [settings]="dropdownSettings"
            (onSelect)="onItemSelect($event)"
            (onDeSelect)="onItemDeSelect($event)"
            (onSelectAll)="onSelectAll($event)"
        ></ng-multiselect-dropdown>
    </div>
    <div class="form-group">
        <label for="urlPhoto">URL Photo</label>
        <input type="text" class="form-control" id="urlPhoto" [formControl]="recipeForm.controls['urlPhoto']" aria-label="urlPhoto"> 
    </div>
    <p></p>
    <button class="btn btn-lg btn-success" type="submit">Create recipe</button>
    <br/>
  </form>
</div>