<div class="col-md-10 offset-1">
  <form id="recipe-form" class="form-search-recipe" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <label for="name" class="sr-only">Recipe Name</label>
    <input type="text" id="name" class="form-control" [formControl]="recipeForm.controls['name']" placeholder="Recipe name" required #recipe>
    <br>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Ingredients</span>
      </div>
      <div class = "list">
        <mat-selection-list #ingredients (selectionChange)="onSelection($event, ingredients.selectedOptions)">
          <mat-list-option *ngFor="let ingredient of ingredientsList" [value]='ingredient'>
            {{ingredient.name}}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
    <p>
      Options selected: {{ingredients.selectedOptions.selected.length}}
    </p>
    
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Instructions</span>
      </div>
      <textarea class="form-control" id="instructions" [formControl]="recipeForm.controls['instructions']" aria-label="Instructions"></textarea>
    </div>
    <p></p>
    <button class="btn btn-lg btn-success" type="submit">Create recipe</button>
  </form>
</div>
<!--//https://stackoverflow.com/questions/47349528/binding-an-angular-material-selection-list
//https://stackoverflow.com/questions/50636365/current-selected-value-in-angular6-material-mat-selection-list/50636719-->