<p></p>
<div class="card col-md-10 offset-1" >
    <div class="card-body">
      <h5 class="card-title">Truita de patates:</h5>
      
      <h5 class="card-subtitle">Id:</h5>
      <p class="card-text">1</p>
      
      <h5 class="card-subtitle">Puntuació:</h5>
      <p class="card-text">4.5/5</p>
  
      <h5 class="card-subtitle">Ingredients:</h5>
      <p class="card-text">2 Ous</p>
      <p class="card-text">2 patates</p>
      <p class="card-text">Oli</p>
      <p class="card-text">Sal</p>
      
      <h5 class="card-subtitle">Instruccions:</h5>
      <p class="card-text">1. Trencar 2 ous, tirar sal i remenar en un plat fons.</p>
      <p class="card-text">2. Pelar i tallar 1-2 patates.</p>
      <p class="card-text">3. Fregir una mica les patates.</p>
      <p class="card-text">4. Tirar els ous remenats i les patates en una paella gran.</p>
      <p class="card-text">5. Fer a foc mig pels dos costats.</p>
    </div>
    <button type="button" class="btn btn-info col-md-2">Modify recipe</button>
    <p></p>
  <button type="button" class="btn btn-danger col-md-2">Delete recipe</button>
  <p></p>
</div>
