<p></p>
<div class="card col-md-10 offset-1">
    <div class="card-body">
      <h5 class="card-title">{{recipe.name}}:</h5>
      
      <h5 class="card-subtitle">Id:</h5>
      <p class="card-text">{{recipe.id}}</p>
      
      <h5 class="card-subtitle">Puntuació:</h5>
      <p class="card-text">{{recipe.averagePuntuation}}</p>
  
      <h5 class="card-subtitle">Ingredients:</h5>
      <p class="card-text">{{recipe.ingredients}}</p>
      
      <h5 class="card-subtitle">Instruccions:</h5>
      <p class="card-text">{{recipe.instruccions}}</p>
    </div>
    <button type="button" class="btn btn-info col-md-2">Modify recipe</button>
    <p></p>
  <button type="button" class="btn btn-danger col-md-2">Delete recipe</button>
  <p></p>
</div>
